<!DOCTYPE html>
<html>
<head>
  <title>Yarn Test Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1 style="color: blue">Yarn Test Blog</h1>
  <%= yield %>

</body>
</html>
